.advert{
    width: 100%;
    padding: 10px;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advertImage{
    width: 60%;
    height: 90%;
}

@media (max-width: 600px){
     .advertImage{
        width: 100%;
     }
     .advert{
        padding: 4px 10px;
        height: 32vh;
     }
}